:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --social-link: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: var(--main-font);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.address,
.contact {
  font-style: normal;
}

img {
  display: block;
}

.contener {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .contener {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .contener {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .contener {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-align: left;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.666;
    text-align: left;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    text-align: left;
    letter-spacing: 0.03em;
  }
}

.header__logo {
  color: #000000;
}

.logo-first {
  color: var(--accent-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    text-align: left;
    letter-spacing: 0.03em;
  }
}

.header__contener {
  position: relative;
  max-width: 480px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-top: 1px solid #eeeeee;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon {
  width: 24px;
  height: 16px;
  fill: #000000;
}

.menu-button:hover .menu-button__icon {
  fill: var(--accent-color);
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-contener {
  height: 400px;
  padding-top: 60px;
  background-color: white;
  text-align: center;
  border-top: 1px solid #eeeeee;
  z-index: 2;
}

.menu-contener.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-contener {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
}

.navigation__list {
  margin-bottom: 60px;
}

.navigation__list-item:not(:last-child) {
  margin-bottom: 40px;
}

.navigation__list-link {
  display: inline-flex;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.navigation__list-link:hover, .navigation__list-link:focus {
  color: var(--accent-color);
}

.navigation__list-link.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.address {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .address {
    position: absolute;
    top: 280px;
    left: 0;
  }
}

.address__list {
  display: flex;
  flex-direction: column;
}

.address__list-item:not(:last-child) {
  margin-bottom: 16px;
}

.address__list-icon {
  margin-right: 10px;
  fill: currentcolor;
}

.address__list-icon:hover, .address__list-icon:focus {
  fill: currentcolor;
}

.address__list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.address__list-link:hover, .address__list-link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__contener {
    max-width: 768px;
    display: flex;
    height: 79px;
    align-items: center;
  }
  .navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    min-width: 768px;
  }
  .menu-contener {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    padding-top: 0px;
    padding-left: 0;
  }
  .menu-contener.is-open {
    display: flex;
    align-items: center;
  }
  .navigation__list {
    display: flex;
    align-items: center;
    margin-left: 88px;
    margin-right: 84px;
    margin-bottom: 0;
  }
  .navigation__list-item {
    position: relative;
  }
  .navigation__list-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .navigation__list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    text-align: left;
    letter-spacing: 0.02em;
  }
  .navigation__list-link.current::after {
    bottom: -30px;
  }
  .address__list {
    text-align: left;
  }
  .address__list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .address__list-link {
    align-items: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.666;
    text-align: left;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header__contener {
    max-width: 1200px;
  }
  .navigation__list {
    margin-left: 93px;
    margin-right: 305px;
  }
  .address__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .address__list-item {
    width: 100%;
  }
  .address__list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    text-align: left;
    letter-spacing: 0.02em;
    display: flex;
  }
  .address__list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero__contener {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 480px 400px;
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero__contener {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__contener {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__contener {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__contener {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-desktop.jpg");
    background-size: 1600px 600px;
  }
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__contener {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-desktop@2x.jpg");
  }
}

.advantages__list-item {
  max-width: 450px;
  height: 226px;
}

.advantages__list-item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.advantages__list-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages__list-item-text {
  min-height: 50px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.icon-1::before {
  background-image: url(../images/svg/advantages01.svg);
}

.icon-2::before {
  background-image: url(../images/svg/advantages02.svg);
}

.icon-3::before {
  background-image: url(../images/svg/advantages03.svg);
}

.icon-4::before {
  background-image: url(../images/svg/advantages04.svg);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .advantages__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__list-item {
    width: 354px;
    height: 251px;
  }
  .advantages__list-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: left;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantages__list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .advantages__list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list-item {
    width: 270px;
    height: 251px;
  }
  .advantages__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.activities {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activities {
    display: flex;
  }
  .activities__contener {
    padding-bottom: 94px;
  }
  .activities__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  .activities__list {
    display: flex;
  }
  .activities__list-item {
    position: relative;
  }
  .activities__list-item:not(:last-child) {
    margin-right: 30px;
  }
  .activities__list-item-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
  }
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--white-color);
  background-color: var(--white-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: var(--accent-color);
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-link);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: currentColor;
}

.social-links__link--dark {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-links__link--dark:hover, .social-links__link--dark:focus {
  background: var(--accent-color);
}

.social-links__icon--dark {
  fill: var(--white-color);
}

.team {
  margin: 0 auto;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about__list-img {
  width: 100%;
}

.team__list-about {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
}

.team__list-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.876;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__list-profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .team__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team__list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients__list-item {
  width: 210px;
}

.clients__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.clients__list-link:hover, .clients__list-link:focus {
  border-color: var(--accent-color);
}

.clients__list-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.clients__list-link:hover .clients__list-icon,
.clients__list-link:focus .clients__list-icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .clients__list-item {
    width: 210px;
    margin: 0 auto;
  }
  .clients__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .clients__list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .clients__list-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
  }
  .clients__list-item {
    width: 226px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__list-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .clients__list-item {
    width: 170px;
  }
  .clients__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  background-color: #2f303a;
}

.footer__contener {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.footer__left-side {
  margin-bottom: 60px;
}

.contact__list-city {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contact__list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact__list-item {
  text-align: center;
}

.contact__list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__center-side {
  margin-bottom: 60px;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__right-side {
  width: 100%;
  margin: 0 auto;
}

.footer__form {
  text-align: center;
}

.footer__form-email {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .footer__form-email {
    width: 100%;
  }
}

.footer__form-button {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white-color);
}

@media screen and (min-width: 768px) {
  .footer__contener {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 768px;
  }
  .footer__left-side {
    margin-left: 76px;
    margin-right: 165px;
  }
  .footer__center-side {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contener {
    width: 1200px;
  }
  .footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: left;
    letter-spacing: 0.03em;
  }
  .footer__left-side {
    width: 231px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 70px;
  }
  .contact__list-item {
    text-align: left;
  }
  .contact__list-city {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    text-align: left;
    letter-spacing: 0.03em;
  }
  .contact__list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    text-align: left;
    letter-spacing: 0.03em;
  }
  .footer__center-side {
    min-width: 206px;
    height: 80px;
    margin-right: 93px;
    margin-bottom: 0;
  }
  .footer__right-side {
    width: 570px;
  }
  .footer__form {
    display: flex;
    align-items: center;
  }
  .footer__form-email {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}

.backdrop.is-hidden {
  transition: all 500ms linear 500ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  min-height: 609px;
  background-color: var(--white-color);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms linear 500ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 500ms linear 0ms;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button__icon {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.close-btn:hover .button__icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal__form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  text-align: left;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal__form-comment {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  text-align: left;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal__form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-fn);
}

.modal__form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-fn);
}

.modal__form-input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__form-texarea {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-fn);
}

.modal__form-texarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__form-policy {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 32px;
}

.modal__form-policy-text {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal__form-policy-text::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  background-size: contain;
  width: 16px;
  height: 15px;
  background-image: url(../images/svg/checkbox01.svg);
  transition: background-image 250ms var(--timing-fn);
}

.modal__form-checkbox:checked + .modal__form-policy-text::before {
  background-image: url(../images/svg/checkbox02.svg);
}

.a-form {
  text-decoration: underline;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .modal__form-policy-text {
    font-weight: 4700;
    font-size: 14px;
    line-height: 1.714;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
/*# sourceMappingURL=main.css.map */