:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --social-link: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: var(--main-font);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.address,
.contact {
  font-style: normal;
}

img {
  display: block;
}

.contener {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-align: left;
  letter-spacing: 0.03em;
}

.header__logo {
  margin-right: 93px;
  color: #000000;
}

.logo-first {
  color: var(--accent-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.header {
  border-bottom: 1px solid #eeeeee;
}

.header .contener {
  display: flex;
  height: 80px;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list-item {
  position: relative;
}

.navigation__list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation__list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.navigation__list-link:hover, .navigation__list-link:focus {
  color: var(--accent-color);
}

.navigation__list-link.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.address {
  margin-left: auto;
}

.address__list {
  display: flex;
}

.address__list-item:not(:last-child) {
  margin-right: 50px;
}

.address__list-icon {
  margin-right: 10px;
  fill: currentcolor;
}

.address__list-icon:hover, .address__list-icon:focus {
  fill: currentcolor;
}

.address__list-link {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.address__list-link:hover, .address__list-link:focus {
  color: var(--accent-color);
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__list-item:not(:last-child) {
  margin-right: 8px;
}

.filter__list-btn {
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border: none;
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.filter__list-btn:hover, .filter__list-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
}

.example-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.example-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.example-list__link:hover, .example-list__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-list__thumb {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.example-list__link:hover .example-list__thumb::before {
  opacity: 1;
}

.example-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 500ms var(--timing-fn);
  transform: translateY(100%);
}

.example-list__link:hover .overlay,
.example-list__link:focus .overlay {
  transform: translateY(0%);
}

.example-list__information {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.example-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.example-list_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--white-color);
  background-color: var(--white-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: var(--accent-color);
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-link);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: currentColor;
}

.social-links__link--dark {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-links__link--dark:hover, .social-links__link--dark:focus {
  background: var(--accent-color);
}

.social-links__icon--dark {
  fill: var(--white-color);
}

.footer {
  margin: auto;
  background-color: #2f303a;
}

.footer__contener {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.footer__left-side {
  width: 231px;
  margin-right: 70px;
}

.footer__center-side {
  min-width: 206px;
  height: 80px;
  margin-right: 93px;
}

.contact__list-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact__list-city {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contact__list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-align: left;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__form {
  display: flex;
  align-items: center;
}

.footer__form-email {
  padding-left: 15px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer__form-button {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white-color);
}
/*# sourceMappingURL=portfolio.css.map */