.activities {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activities {
    display: flex;
  }

  .activities__contener {
    padding-bottom: 94px;
  }

  .activities__title {
    margin-bottom: 50px;
    @include font(700, 36px, 1.667, center, 0.03em);
    color: var(--title-text-color);
  }

  .activities__list {
    display: flex;
  }

  .activities__list-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .activities__list-item-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    @include font(700, 14px, 1.143, center, 0.03em);
    text-transform: uppercase;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
  }
}
