.clients__title {
  margin-bottom: 30px;
  @include font(700, 28px, 1.179, center, 0.03em);
  color: var(--title-text-color);
}

.clients__list-item {
  width: 210px;
}

.clients__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__list-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);

  .clients__list-link:hover &,
  .clients__list-link:focus & {
    fill: var(--accent-color);
  }
}

@media screen and (max-width: 479px) {
  .clients__list-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    width: 210px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .clients__list-item {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
  }

  .clients__list-item {
    width: 226px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__list-item {
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    @include font(700, 36px, 1.667, center, 0.03em);
  }

  .clients__list-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
    width: 170px;
  }
}
