.contener {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .contener {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .contener {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .contener {
    max-width: 1200px;
  }
}
