.example-list__link {
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.example-list__thumb {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 404px;

  .example-list__link:hover &::before {
    opacity: 1;
  }
}

.example-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 77px 24px;
  width: 100%;
  height: 100%;
  @include font(400, 18px, 1.556, left, 0.03em);
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 500ms var(--timing-fn);
  transform: translateY(100%);

  .example-list__link:hover &,
  .example-list__link:focus & {
    transform: translateY(0%);
  }
}

.example-list__information {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.example-list__title {
  margin-bottom: 4px;
  @include font(700, 18px, 2, left, 0.06em);
  color: var(--title-text-color);
}

.example-list__text {
  @include font(400, 16px, 1.875, left, 0.03em);
  color: var(--text-color);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .example-list__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .example-list {
    display: flex;
    flex-wrap: wrap;
  }

  .example-list__thumb {
    width: 354px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
  .example-list__item {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  .example-list__item {
    &:not(:nth-child(9)) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .example-list__thumb {
    width: 370px;
  }

  .example-list__item {
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}

// .example-list {
//   display: flex;
//   flex-wrap: wrap;
// }

// .example-list__item {
//   &:not(:nth-child(3n)) {
//     margin-right: 30px;
//   }

//   &:not(:nth-last-child(-n + 3)) {
//     margin-bottom: 30px;
//   }
// }

// .example-list__link {
//   &:hover,
//   &:focus {
//     display: block;
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
// }

// .example-list__thumb {
//   position: relative;
//   overflow: hidden;
//   width: 370px;
//   height: 294px;

//   .example-list__link:hover &::before {
//     opacity: 1;
//   }
// }

// .example-list__img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   padding: 63px 24px;
//   width: 100%;
//   height: 100%;
//   @include font(400, 18px, 1.556, left, 0.03em);
//   color: var(--white-color);
//   background-color: rgba(33, 150, 243, 0.9);
//   transition: transform 500ms var(--timing-fn);
//   transform: translateY(100%);

//   .example-list__link:hover &,
//   .example-list__link:focus & {
//     transform: translateY(0%);
//   }
// }

// .example-list__information {
//   padding: 20px 24px;
//   border-right: 1px solid #eeeeee;
//   border-bottom: 1px solid #eeeeee;
//   border-left: 1px solid #eeeeee;
// }

// .example-list__title {
//   margin-bottom: 4px;
//   @include font(700, 18px, 2, left, 0.06em);
//   color: var(--title-text-color);
// }

// .example-list_text {
//   @include font(400, 16px, 1.875, left, 0.03em);
//   color: var(--text-color);
// }
