.logo {
  font-family: Raleway, sans-serif;
  @include font(700, 26px, 1.192, left, 0.03em);
}

.header__logo {
  margin-right: 93px;
  color: #000000;
}

.logo-first {
  color: var(--accent-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}
