.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--white-color);
  background-color: var(--white-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-link);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fn);

  .social-links__link:hover &,
  .social-links__link:focus & {
    fill: currentColor;
  }
}

.social-links__link--dark {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus {
    background: var(--accent-color);
  }
}

.social-links__icon--dark {
  fill: var(--white-color);
}
