:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --social-link: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}
